
<div class="altai-admin-section">
    <div class="page-header">
        <h2>{{'TaskArgs'|translate}}</h2>
        <md-button ng-click="vm.createTaskArg()" class="md-button-altai md-raised"><i class="mdi mdi-plus"></i> {{::'create'|translate}} </md-button>
    </div>

    <table>

        <thead>
            <tr>
                <th>{{'key'|translate}}</th>
                <th>{{'value'|translate}}</th>
                <th>{{'actions'|translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="taskArg in vm.taskArgs track by taskArg.id">
                <td>{{taskArg.key}}</td>

                <td>{{taskArg.value}}</td>

                <td>
                    <md-button ng-click="vm.deleteTaskArgs(taskArg)" class="md-button-altai md-raised"><i class="mdi mdi-delete"></i> {{::'delete'|translate}}</md-button>
                    <md-button ng-click="vm.editTaskArg(taskArg)" class="md-button-altai md-raised"><i class="mdi mdi-pencil"></i> {{::'edit'|translate}}</md-button>
                </td>
            </tr>
        </tbody>

    </table>



</div>

