<div analytics analytics-item="$ctrl.data" analytics-on-view="eventregistrationend" analytics-form-data="$ctrl.formData.content"></div>
<div ng-show="$ctrl.formData.content[0] && $ctrl.formData.content[0].id && $ctrl.formData.content[0].id==9454 && !$ctrl.loading" class="ng-cloak">
    <div class="container inschrijvingheader">
        <div class="altai-panel">
            <div class="row dossier-section inschrijvingheader">
                <div class="col-md-12">
                    <a class="comeos-button no-animate" ui-sref="Root.Detail.Vergadering({id:$ctrl.data.id})"><span translate>terugnaarmeeting</span></a>
                </div>
            </div>
            <div class="row dossier-section">
                <div class="col-md-12">
                    <h1>{{$ctrl.data.title}}</h1>
                    <div class="details">
                        <span ng-if="$ctrl.data.date" class="detail moment">{{$ctrl.data.date | localDate}} ({{$ctrl.data.tijdvan | date:'HH:mm'}} - {{$ctrl.data.tijdtot | date:'HH:mm'}})</span>
                        <span class="detail location" ng-if="$ctrl.data.locatiecommissievergadering">{{$ctrl.data.locatiecommissievergadering.stad}}</span>
                    </div>
                </div>
            </div>
            <div class="row dossier-section">
                <div class="col-md-12">
                    {{'registrationconfirmed'|translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="$ctrl.formData.content[0] && $ctrl.formData.content[0].id && $ctrl.formData.content[0].id==9455 && !$ctrl.loading" class="ng-cloak">
    <div class="container inschrijvingheader">
        <div class="row dossier-section inschrijvingheader">
            <div class="col-md-12">
                <a class="comeos-button no-animate" ui-sref="Root.Detail.Vergadering({id:$ctrl.data.id})"><span translate>terugnaarmeeting</span></a>
            </div>
        </div>
        <div class="row dossier-section">
            <div class="col-md-12">
                <h1>{{$ctrl.data.title}}</h1>
                <div class="details">
                    <span ng-if="$ctrl.data.date" class="detail moment">{{$ctrl.data.date | localDate}} ({{$ctrl.data.tijdvan | date:'HH:mm'}} - {{$ctrl.data.tijdtot | date:'HH:mm'}})</span>
                    <span class="detail location" ng-if="$ctrl.data.locatiecommissievergadering">{{$ctrl.data.locatiecommissievergadering.stad}}</span>
                </div>
            </div>
        </div>
        <div class="row dossier-section">
            <div class="col-md-12">
                {{'absenceconfirmed'|translate}}
            </div>
        </div>
    </div>
</div>
<div ng-show="$ctrl.loading" class="ng-cloak">
    <div class="altai-spinner-outer">
        <div class="altai-spinner"></div>
    </div>
</div>