<div class="wistia_responsive_padding" style="padding:56.0% 0 0 0;position:relative;">
    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_{{$ctrl.wistiaId}} videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
    </div>
</div>

<!--<div ng-repeat="video in  allVideos track by video.id" ng-show="video.default" class="{{video.class}}" style="width:100%;height:400px;">
    &nbsp;{{video.default}}
</div>

<div style="padding:20px !important;" ng-if="showQuestion">
    <h4>{{question}}</h4>

    <div>

    </div>

    <md-radio-group ng-model="selected">

        <md-radio-button ng-repeat="d in questionOptions" ng-value="d.name" ng-click="selectAnswer(d);" aria-label="{{ d.name }}">

            {{ d.name }}

        </md-radio-button>

    </md-radio-group>

</div>


<div class="altai-list editor-style">
    <div ng-cloak>
        <md-list flex class="node-architecture-list" ng-cloak>
            <div ng-repeat="node in  vm.templateTypes  track by node.id" translation-node-element node='node' showchildren="node.showChildren"></div>
        </md-list>
    </div>
</div>-->
