@addTagHelper *, Altai.ClientResourceManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html ng-app="AltaiPlatform">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <base href="/">

    <title>The MasterChannel | Channel your learning</title>
    <link rel="icon" href="favicon.png" />

    <link rel="stylesheet" href="Themes/Default/style-272bb96deb.css" asp-append-version="true" />

    <link href="~/Themes/TMC/ExposedContentCollection/CourseMenu.css" rel="stylesheet" />
    <link href="~/Themes/TMC/Component/nugget.css" rel="stylesheet" />
    <link href="~/Themes/TMC/Component/questionnairequestion.css" rel="stylesheet" />

    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>

</head>
<body altai-body>

    <altai-admin-toolbar></altai-admin-toolbar>

    <altai-update-building-block-popup></altai-update-building-block-popup>
    <altai-create-building-block-popup></altai-create-building-block-popup>

    <altai-content></altai-content>

    <div id="bodyView" class="altaiplatform" ui-view="bodyView">
        Loading...
    </div>

    <script src="https://cdn.ckeditor.com/4.7.0/standard/ckeditor.js"></script>

    <altai-platform-init></altai-platform-init>

    <script src="~/AltaiScripts/altai.js"></script>

    <script src="router.js"></script>
    <script src="translations.js"></script>

    <altai-resource-loader></altai-resource-loader>

    <script src="~/AppBuild/wwwroot/App/TheMasterChannelModule.js"></script>

    <altai-platform-loader></altai-platform-loader>

</body>
</html>