<div analytics analytics-item="$ctrl.data.pageResults[0]" analytics-on-view="true"></div>
<div print-section class="root theme--square altai-theme-content actu dossier container-content">
    <div altai-set-title titletext="{{$ctrl.data.pageResults[0].title}}"></div>
    <section class="comeos-cover cover-large comeos-bg-grafiek">
        <div class="altai-panel">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <div class="title">{{$ctrl.data.pageResults[0].titel}}</div>
                        <div class="contact-buttons">
                            <!--<div class="mail"><i class="mdi mdi-heart"></i></div>-->

                            <div class="contact-buttons">
                                <comeos-content-item-like-header-component class="like" ng-if="$ctrl.data.pageResults[0] != undefined" content-item="$ctrl.data.pageResults[0]"></comeos-content-item-like-header-component>
                                <socialshareheader ng-if="$ctrl.data.pageResults[0] != undefined" item="$ctrl.data.pageResults[0]"></socialshareheader>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comeos-button comeos-button-cover comeos-button-white" comeos-questions-contact-us itemname="$ctrl.data.pageResults[0].name">
                    <span translate>questionscontactus</span>
                </div>
            </div>
        </div>
    </section>
    <div class="main-container container">

        <section class="blog-post">
            <div class="pagecontentstart">
                  <div class="row text-center" ng-if="$ctrl.data.pageResults[0].themegrafiek.length || $ctrl.data.pageResults[0].sectorgrafiek.length || $ctrl.data.pageResults[0].regiongrafiek.length || $ctrl.data.pageResults[0].pcgrafiek.length">

                    <div class="col-sm-10 col-sm-offset-1 ">

                        <div class="dossier-tags center">
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" theme="{{::tag.id}}" ng-repeat="tag in $ctrl.data.pageResults[0].themegrafiek">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in $ctrl.data.pageResults[0].sectorgrafiek">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in $ctrl.data.pageResults[0].regiongrafiek">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in $ctrl.data.pageResults[0].pcgrafiek">
                                {{tag.title}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row introrow smartphone">
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dossier-contact-section">
                                    <div class="profile-picture profile-picture-circle"><img ng-src="{{::$root.staticFileBase}}/{{$ctrl.data.pageResults[0].persoongrafiek0.persoon_file.file}}" /></div>
                                    <div><span class="h6">{{$ctrl.data.pageResults[0].persoongrafiek0.voornaam}} {{$ctrl.data.pageResults[0].persoongrafiek0.achternaam}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="two-col-introduction cktext article-body" altai-compile-html="{{$ctrl.data.pageResults[0].membersintroduction}}">
                        </div>
                    </div>
                </div>
                <div class="row introrow screen">
                    <div class="col-sm-6 col-sm-offset-1">
                        <div class="two-col-introduction cktext article-body" altai-compile-html="{{$ctrl.data.pageResults[0].membersintroduction}}">
                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dossier-contact-section">
                                    <div class="profile-picture profile-picture-circle"><img ng-src="{{::$root.staticFileBase}}/{{$ctrl.data.pageResults[0].persoongrafiek0.persoon_file.file}}" /></div>
                                    <div><span class="h6">{{$ctrl.data.pageResults[0].persoongrafiek0.voornaam}} {{$ctrl.data.pageResults[0].persoongrafiek0.achternaam}}</span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" ng-if="$ctrl.data.pageResults[0].member">
                <div class="col-sm-10 col-sm-offset-1 text-center" style="margin-top:30px;">
                    <h4>{{$ctrl.data.pageResults[0].titel}}</h4>
                </div>
            </div>
            <div class="row" ng-if="$ctrl.data.pageResults[0].member">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="cktext article-body" altai-compile-html="{{$ctrl.data.pageResults[0].inhoud}}"></div>
                </div>
            </div>
            <div class="row" ng-if="$ctrl.data.pageResults[0].member">
                <div class="col-sm-10 col-sm-offset-1 ">              
                    <div class="cktext article-body">
                        <div ng-if="$ctrl.data.pageResults[0].bron!=undefined && $ctrl.data.pageResults[0].bron!=''"><span translate>source</span>: {{$ctrl.data.pageResults[0].bron}}</div>
                        <div ng-if="$ctrl.data.pageResults[0].databron!=undefined"><span translate>source</span>: {{$ctrl.data.pageResults[0].databron}}</div>
                        <div ng-if="$ctrl.data.pageResults[0].date!=undefined"><span translate>lastupdate</span>: {{$ctrl.data.pageResults[0].date | localDate}}</div>
                        <div ng-if="$ctrl.data.pageResults[0].updatefrequencygrafiek"><span translate>updatefrequency</span>: {{$ctrl.data.pageResults[0].updatefrequencygrafiek.title}}</div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.data.pageResults[0] && !$ctrl.data.pageResults[0].member">
                <paywall></paywall>
            </div>
            <!--</div>-->
        </section>
    </div>
</div>