<div class="Elasticsearch defaultadminexposedcollection">

    <div class="search">
        <input class="query" type="text" placeholder="{{'search'|translate}}" ng-model="$ctrl.searchRequest.queryField" ng-model-options="{debounce: 400}" />
    </div>

    <div class="header-filter-collection" ng-show="$ctrl.activeFilters.length>0">
        <div class="header-filter-section">
            <div class="card__pills" style="min-height: 25px;">
                <div style="display: inline-block;" ng-repeat="filter in $ctrl.activeFilters track by $index">
                    <span class="tag-pill--small">
                        <span>{{filter.label || filter.item.item.contentType}}: </span> {{filter.item.item.key}}
                        <a ng-click="$ctrl.removeActiveFilter(filter)"><i class="mdi mdi-close"></i></a>
                    </span>

                    <div ng-if="filter.FilterType != 'range'">
                        <span class="tag-pill--small" ng-repeat="tag in filter.Values" ng-if="tag.selected"><a ng-click="tag.selected = false; fetch()"><i style="cursor: pointer" class="mdi mdi-close"></i></a> <span>{{filter.label}}: </span> {{tag.Name}}</span>
                    </div>

                    <div ng-if="filter.FilterType == 'range'">
                        <span class="tag-pill--small" ng-if="filter.Type == 'date' && filter.Values.selected == true"><a ng-click="filter.Values.startValue = undefined; filter.Values.selected = false; fetch()"><i style="cursor: pointer" class="mdi mdi-close"></i></a> <span>{{filter.Name}}: </span> {{vm.moment(filter.Values.startValue).format("Do MMM YY")}} - {{vm.moment(filter.Values.endValue).format("Do MMM YY")}}</span>
                    </div>
                </div>

                <span class="tag-pill--small"><a ng-click="$ctrl.removeAllFilters()"><i style="cursor: pointer" class="mdi mdi-close"></i></a></span>

            </div>
        </div>
    </div>

    <div class="exposed-collection-aggregations">

        <div class="dropdown" uib-dropdown ng-repeat="(aggregationName, aggregation) in $ctrl.data.aggregations">
            <div ng-class="{disabled: vm.getTotalCount(filter.Values)<=0}" class="btn-search-filter altai-tooltip" uib-dropdown-toggle>
                {{aggregation.label || aggregationName}}<i class="mdi mdi-menu-down"></i>
            </div>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li class="selectcontainer">
                    <div class="select select-left" ng-click="$ctrl.selectAggregation(aggregation,true);">{{'selecteeralles' | translate}}</div>
                    <div class="select select-right" ng-click="$ctrl.selectAggregation(aggregation,false);">{{'selecteerniets' | translate}}</div>
                </li>
                <li>
                    <ul class="scroll">

                        <li class="list-group-item" ng-repeat="item in aggregation.items" ng-click="$ctrl.selectFilterValue(item, aggregation.filterId, aggregation.label)" ng-class="{active: item.selected, child: item.child}"><span class="badge pull-right">{{item.docCount}}</span>{{item.item.key}}</li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    <div class="altai-admin-section">

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th><altai-content-table-header-sorter field-name="id" search-request="$ctrl.searchRequest">{{'id' | translate }} </></th>
                    <th><altai-content-table-header-sorter field-name="firstname.raw" search-request="$ctrl.searchRequest">{{'firstname' | translate }} </altai-content-table-header-sorter></th>
                    <th><altai-content-table-header-sorter field-name="lastname.raw" search-request="$ctrl.searchRequest">{{'lastname' | translate }}</altai-content-table-header-sorter></th>
                    <th>{{'plus' | translate }}</th>
                    <th><altai-content-table-header-sorter field-name="function.raw" search-request="$ctrl.searchRequest">{{'function' | translate }}</altai-content-table-header-sorter></th>
                    <th><altai-content-table-header-sorter field-name="organization.raw" search-request="$ctrl.searchRequest">{{'organization' | translate }}</altai-content-table-header-sorter></th>
                    <th><altai-content-table-header-sorter field-name="registrationstateregistrationacademy.title.raw" search-request="$ctrl.searchRequest">{{'registration state' | translate }}</altai-content-table-header-sorter></th>
                    <th><altai-content-table-header-sorter field-name="presencestateregistrationacademy.title.raw" search-request="$ctrl.searchRequest">{{'presence' | translate }}</altai-content-table-header-sorter></th>
                    <th>{{'actions' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="contentRow in $ctrl.data.pageResults track by contentRow.id">
                    <td><i class="mdi mdi-google-circles-extended" ng-if="!$ctrl.selection"></i><altai-content-selection-checkbox ng-if="$ctrl.selection" content-item="contentRow" selection-key="$ctrl.selection"></altai-content-selection-checkbox></td>
                    <td>{{contentRow.id}}</td>
                    <td>{{contentRow.firstname}}</td>
                    <td>{{contentRow.lastname | altaicutoff:50}}</td>
                    <td>{{contentRow.accompanyingpersonregistrationacademy ? contentRow.accompanyingpersonregistrationacademy.length : 0}}</td>
                    <td>{{contentRow.functie | altaicutoff:50}}</td>
                    <td>{{contentRow.organization | altaicutoff:50}}</td>
                    <td>{{contentRow.registrationstateregistrationacademy.title | altaicutoff:50}}</td>
                    <td>{{contentRow.presencestateregistrationacademy.title | altaicutoff:50}}</td>
                    <td><altai-content-item-buttons content-item='contentRow'></altai-content-item-buttons></td>
                </tr>
                <tr ng-repeat="accompanyingperson in contentRow.accompanyingpersonregistrationacademy" class="accompanyingperson" ng-repeat-end>
                    <td></td>
                    <td>{{accompanyingperson.id}}</td>
                    <td>{{accompanyingperson.voornaam| altaicutoff:50}}</td>
                    <td>{{accompanyingperson.achternaam| altaicutoff:50}}</td>
                    <td></td>
                    <td>{{accompanyingperson.functie| altaicutoff:50}}</td>
                    <td>{{contentRow.organization| altaicutoff:50}}</td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>

        <div class="panel-buttons">
            <altai-pagination paged-result="$ctrl.data" switch-page="$ctrl.openPage(pageIndex)"></altai-pagination>
        </div>
    </div>
</div>

<md-button ng-click="$ctrl.export()" class="md-button-altai md-raised"><i class="mdi mdi-file-excel"></i> {{::'export'|translate}} </md-button>
<md-button ng-click="$ctrl.exportTree()" class="md-button-altai md-raised"><i class="mdi mdi-file-excel"></i> {{::'exportTree'|translate}} </md-button>
<md-button ng-click="$ctrl.exportAccompany()" class="md-button-altai md-raised"><i class="mdi mdi-file-excel"></i> {{::'exportAccompany'|translate}} </md-button>