<div class="installer-outer">
    <div class="installer">
        <a ui-sref="Root.Home"><img src="https://static.comeos.be/Themes/comeos/img/Comeos_LogoB.png" class="login-logo" /></a>
        <div ng-if="!$ctrl.validToken">
            <p>{{::'invalidtokenexplain'|translate}}</p>
            <div class="form-row">
                <a class="comeos-button no-animate ng-binding" ui-sref="lostpassword">{{::'ResendLostPassword'|translate}}</a>
            </div>
        </div>
        <div  ng-if="$ctrl.validToken">
            <form>
                <div style="margin-bottom:30px;">
                    <div class="form-group">
                        <div class="label">{{'password'|translate}}:</div>
                        <input type="password" class="form-control" ng-model="loginData.password">
                    </div>
                    <div class="form-group">
                        <div class="label">{{'passwordrepeat'|translate}}:</div>
                        <input type="password" class="form-control" ng-model="loginData.passwordrepeated">
                    </div>
                </div>

                <div class="form-row">
                    <button type="submit" class="comeos-button no-animate ng-binding" data-ng-click="$ctrl.setPassword(loginData)">{{'SETPASSWORD'|translate}}</button>
                </div>

            </form>
        </div>

    </div>
</div>