<div class="installer-outer">
    <div class="installer">
        <a ui-sref="Root.Home"><img src="https://static.comeos.be/Themes/comeos/img/Comeos_LogoB.png" class="login-logo" /></a>
        <div ng-if="$ctrl.submitted && $ctrl.emailFound">
            <p class="">
                {{::'passwordresetconfirmation'|translate}}
            </p>
            <a class="comeos-button no-animate" ui-sref="Root.Home"><span translate>terugnaarhome</span></a>
        </div>
        <div ng-if="$ctrl.submitted && !$ctrl.emailFound">
            <p class="">
                {{::'emailnotfoundinsystem'|translate}}
            </p>
        </div>
        <div ng-if="!$ctrl.submitted"class="form-row">
            {{::'lostpasswordexplanation'|translate}}
        </div>
        <form ng-if="!$ctrl.submitted || ($ctrl.submitted && !$ctrl.emailFound)">
            <div style="margin-bottom:30px;">
                <div class="form-group">
                    <div class="label">{{'email'|translate}}:</div>
                    <input type="text" class="form-control" ng-model="email">
                </div>

            </div>

            <div class="form-row">
                <!--<button type="submit" class="btn btn-success altai-button-go" data-ng-click="$ctrl.lostPasswordRequest(email)">{{'SEND'|translate}}</button>-->
                <button type="submit" class="comeos-button" data-ng-click="$ctrl.lostPasswordRequest(email)">{{'SEND'|translate}}</button>
                <a ng-if="$ctrl.submitted && !$ctrl.emailFound" class="comeos-button no-animate" ui-sref="Root.Content.ContactFormMember"><span translate>accountaanvragen</span></a>
            </div>

        </form>

    </div>
</div>