<div class="authbox authbox-small">

    <form role="form">

        <div class="authbox-title"><i class="fa fa-user"></i>&nbsp;<b>{{'RECOVERPASSWORD'|translate}}</b></div>

        <p>Kies een nieuw wachtwoord, en geef dit twee keer in.</p>

        <div class="form-group">
            <input type="password" class="form-control" id="password" data-ng-model="password" placeholder="Wachtwoord">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="passwordConfirm" data-ng-model="passwordConfirm" placeholder="Herhaal wachtwoord">
        </div>


        <button type="submit" class="btn btn-success" data-ng-click="vm.doReset(password)">{{'SUBMIT'|translate}}</button>

    </form>

</div>