<md-dialog aria-label="Rename File" style="min-width : 400px">
    <form name="newTriggerForm">
        <md-toolbar class="subTitle">
            <div class="md-toolbar-tools">
                <h2>{{'renameFile'|translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="mdi mdi-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <div class="allroundMargin">
                <div layout="column">
                    <md-input-container>
                        <label>{{'name'|translate}}</label>
                        <input ng-required="true" ng-model="existingFile.label">
                    </md-input-container>

                </div>
            </div>

        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                {{'cancel'|translate}}
            </md-button>
            <md-button ng-disabled="newTriggerForm.$invalid" ng-click="updateTemplateName(existingFile)" style="margin-right:20px;">
                {{'save'|translate}}
            </md-button>
        </div>
    </form>
</md-dialog>
