<div class="page-header">
    <h2>{{'businessprocessflowtriggercreate'|translate}}</h2>
</div>

<panel title="WorkflowTriggerCreate" table="true">

    <table class="table table-striped">

        <tr>
            <td>{{'name'|translate}}:</td>
            <td><input type="text" ng-model="newTrigger.name" /></td>
        </tr>

        <tr>
            <td>{{'event'|translate}}:</td>
            <td><input type="text" ng-model="newTrigger.event" /></td>
        </tr>

    </table>

    <div class="panel-buttons">
        <altai-button type="add" ng-click="createTrigger(newTrigger)">{{'create'|translate}}</altai-button>
    </div>
</panel>