<div class="altai-list">
    <div class="search">
        <input class="query" type="text" placeholder="{{'searchinname'|translate}}" ng-model-options="{ debounce: 300 }" ng-model="vm.searchModel.name" />
        <!--<button class="add" ng-click="vm.createContentItem()"><i class="mdi mdi-plus"></i></button>-->
    </div>
</div>

<div class="altai-admin-section">

    <table>

        <thead>
            <tr>
                <th>{{'id'|translate}}</th>
                <th>{{'name'|translate}}</th>
                <th>{{'actions'|translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="definition in vm.definitions">
                <td>{{definition.id}}</td>
                <td><a ui-sref="admin.businessprocessdefinition.read({id:definition.id})">{{definition.name}}</a></td>
                <td>
                    <button type="button" class="icon" ng-click="vm.createInstance(definition)">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </td>
            </tr>

            <tr ng-if="!vm.definitions.length">
                <td colspan="2">{{'noresults'|translate}}</td>
            </tr>
        </tbody>

    </table>

    <div class="panel-buttons">
        <altai-pagination paged-result="vm.contentItems" switch-page="vm.openPage(pageIndex)"></altai-pagination>
    </div>

</div>