<div class="altai-list">
    <div class="search">
        <input class="query" type="text" ng-model="searchFilter.name" placeholder="{{'search'|translate}}" />
        <md-button  ng-click="vm.createContentCollection()" class="md-button-altai md-raised"><i class="mdi mdi-plus"></i> {{'create'|translate}} </md-button>
    </div>

    <div class="row" ng-repeat="contentCollection in vm.contentCollections | filter: searchFilter track by contentCollection.id">
        <div class="avatar"><i class="mdi mdi-format-list-bulleted"></i></div>
        <div class="text rowtext">
            <h2>{{contentCollection.name}}</h2>
        </div>
        <div class="rowactions">
            
            <md-button ng-click="vm.openContentCollectionProfile(contentCollection)" class="md-button-altai md-raised"><i class="mdi mdi-pencil"></i> {{::'edit'|translate}} </md-button>
        </div>
    </div>
</div>
