<altai-toolbar-menu menu-model="vm.toolbar" use-default-langs="true" languages="vm.languages"></altai-toolbar-menu>
<div>
    <form class="altai-form" name="contentFlowTaskDefinitionUpdate">
        <div class="altai-admin-section">
            <div class="subheader">
                <h2>{{'taskdefinitiondetails'|translate}}</h2>
            </div>
            <div class="altai-simple-form">
                <div class="form-group">
                    <label>{{'id'|translate}}</label>
                    <div>{{vm.contentFlowTaskDefinition.id}}</div>
                </div>
                <div class="form-group">
                    <label>{{'activitiid'|translate}}</label>
                    <div>{{vm.contentFlowTaskDefinition.activitiId}}</div>
                </div>
                <div class="form-group">
                    <label>{{'assignee'|translate}}</label>
                    <div>{{vm.contentFlowTaskDefinition.assignee}}</div>
                </div>
                <div class="form-group">
                    <label>{{'owner'|translate}}</label>
                    <div>{{vm.contentFlowTaskDefinition.owner}}</div>
                </div>
                <div class="form-group">
                    <label>{{'duedate'|translate}}</label>
                    <div>{{vm.contentFlowTaskDefinition.dueDate}}</div>
                </div>
                <div class="form-group">
                    <label>{{'formkey'|translate}}</label>
                    <div>{{vm.contentFlowTaskDefinition.formKey}}</div>
                </div>
                <div class="form-group">
                    <label>{{'name'|translate}}</label>
                    <div>{{vm.contentFlowTaskDefinition.name}}</div>
                </div>
                <div class="form-group">
                    <label>{{'label'|translate}}</label>
                    <div altai-translatable-input="vm.contentFlowTaskDefinition.labelTranslatable" languages="vm.languages" />
                </div>
            </div>
        </div>
    </form>
    <div class="altai-admin-section">
        <div class="subheader">
            <h2>{{'taskdefinitionvariables'|translate}}</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>{{'id'|translate}}</th>
                    <th>{{'label'|translate}}</th>
                    <th>{{'key'|translate}}</th>
                    <th>{{'hasdefaultvalue'|translate}}</th>
                    <th>{{'defaultvalue'|translate}}</th>
                    <th>{{'edittemplate'|translate}}</th>
                    <th>{{'contentcollection'|translate}}</th>
                    <th>{{'userdefinable'|translate}}</th>
                    <th>{{'servicedefinable'|translate}}</th>
                    <th>{{'serviceurl'|translate}}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="instance in vm.contentFlowTaskDefinition.contentFlowProcessVariableDefinitionsToSet">
                    <td>{{instance.id}}</td>
                    <td>{{instance.label}}</td>
                    <td>{{instance.key}}</td>
                    <td>{{instance.hasDefaultValue}}</td>
                    <td>{{instance.defaultValue}}</td>
                    <td>{{instance.editTemplate}}</td>
                    <td>{{instance.contentCollection}}</td>
                    <td>{{instance.userDefinable}}</td>
                    <td>{{instance.serviceDefinable}}</td>
                    <td>{{instance.serviceUrl}}</td>
                    <td>
                        <md-button ng-click="vm.editVariable(instance.id)" class="md-button-altai md-raised"><i class="mdi mdi-pencil"></i> {{::'edit'|translate}} </md-button>
                        <md-button ng-click="vm.deleteVariable(instance)" class="md-button-altai md-raised"><i class="mdi mdi-delete"></i> {{::'delete'|translate}} </md-button>
                    </td>
                </tr>

                <tr ng-if="!vm.contentFlowTaskDefinition.contentFlowProcessVariableDefinitionsToSet.length">
                    <td colspan="2">{{'noresults'|translate}}</td>
                </tr>
            </tbody>
        </table>

        <div class="panel-buttons">
            <md-button ng-click="vm.deleteAllVariables()" class="md-button-altai md-raised"><i class="mdi mdi-delete-sweep"></i> {{::'deletevariables'|translate}} </md-button>
            <md-button ng-click="vm.createVariable(vm.contentFlowTaskDefinitionId)" class="md-button-altai md-raised"><i class="mdi mdi-plus"></i> {{::'createvariable'|translate}} </md-button>
        </div>

        <div class="panel-buttons">
            <altai-pagination paged-result="vm.contentItems" switch-page="vm.openPage(pageIndex)"></altai-pagination>
        </div>
    </div>
</div>