<div class="form-group" ng-repeat="attr in ::vm.contentType.contentTypeAttributes track by attr.id" ng-if="!attr.systemValue">
    <label>{{::attr.attribute.label}}<span ng-show="attr.attribute.required">*</span>&nbsp;:</label>
    <altai-content-attribute-update model="vm.updateModel.attribute[attr.id].values" content-type-attribute="attr" languages="vm.languages"></altai-content-attribute-update>
</div>

<div class="form-group" ng-repeat="ctrl in ::vm.contentType.contentTypeRelationLinks track by ctrl.id">

    <div ng-if="!ctrl.hidden" class="relation-form-group" ng-show="vm.originLink.contentTypeRelationId != ctrl.contentTypeRelationId">
        <altai-content-relation-update languages="vm.languages" content-type-relation-link="ctrl" existing-model="vm.updateModel.relation[$index].existing" existing-input-model="vm.updateModel.relation[$index].existingIn" new-model="vm.updateModel.relation[$index].new" relation="vm.updateModel.relation[$index]" edit-mode="true"></altai-content-relation-update>
    </div>

</div>