<div class="admin-header">
    <h2><i class="fa fa-sitemap"></i>&nbsp;{{'createnewimagestyle'|translate}}</h2>
</div>

<table class="table-admin">
    <tr>
        <th colspan="2">{{'imagestyledetails'|translate}}</th>
    </tr>
    <tr>
        <td style="width:25%">{{'name'|translate}}:</td>
        <td><input type="text" data-ng-model="imageStyle.name" /></td>
    </tr>
</table>

<button class="btn btn-primary" data-ng-click="createImageStyle()"><i class="fa fa-plus"></i>&nbsp;{{'createimagestyle'|translate}}</button>