<div class="admin-header">
    <h2><i class="fa fa-sitemap"></i>&nbsp;{{'createnewimagestyleset'|translate}}</h2>
</div>

<table class="table-admin">
    <tr>
        <th colspan="2">{{'imagestylesetdetails'|translate}}</th>
    </tr>
    <tr>
        <td style="width:25%">{{'name'|translate}}:</td>
        <td><input type="text" data-ng-model="imageStyleSet.name" /></td>
    </tr>
</table>

<button class="btn btn-primary" data-ng-click="createImageStyleSet()"><i class="fa fa-plus"></i>&nbsp;{{'createimagestyleset'|translate}}</button>