<h2>{{'identity'|translate}}</h2>

<div style="margin-bottom:30px;">
    <div class="form-row">
        <div class="label">{{'adminemail'|translate}}:</div>
        <input type="email" ng-model="installData.altaiIdentity.email">
    </div>
    <div class="form-row">
        <div class="label">{{'password'|translate}}:</div>
        <input type="password" ng-model="installData.altaiIdentity.password">
    </div>
    <div class="form-row">
        <div class="label">{{'password'|translate}}:</div>
        <input type="password" ng-model="installData.altaiIdentity.repeatPassword">
    </div>
</div>