<div class="altai-admin-section">

    <table>
        <thead>
            <tr>
                <th>{{'name'|translate}}</th>
                <th>{{'actions'|translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="role in vm.roles track by role.id">
                <td>{{role.name}}</td>
                <td>
                    <button class="altai-admin-icon" ng-click="vm.openPermissions(role)">
                        <md-tooltip position="top">{{'permissions'|translate}}</md-tooltip>
                        <i class="mdi mdi-key"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="actions">
        <button class="altai-admin-icon main" ng-click="vm.createRole()"><i class="mdi mdi-plus"></i></button>
    </div>

</div>