<div class="page-header">
    <h2><i class="fa fa-2 fa-caret-square-o-right"></i>&nbsp;{{'triggers'|translate}}</h2>
</div>

<panel title="Triggers" table="true">
    <table class="table table-striped">

        <thead>
            <tr>
                <th>{{'triggername'|translate}}</th>
                <th>{{'active'|translate}}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="trigger in triggers">
                <td><a ui-sref="admin.workflowtrigger.read({id:trigger.id})">{{trigger.name}}</a></td>
                <td>{{trigger.active|binary}}</td>
            </tr>

            <tr ng-if="!triggers.length">
                <td colspan="2">{{'noresults'|translate}}</td>
            </tr>

        </tbody>

    </table>

    <div class="panel-buttons">
        <altai-button type="add" ui-sref="admin.workflowtrigger.create">{{'create'|translate}}</altai-button>
    </div>

</panel>