<altai-language-bar languages="$ctrl.languages" allow-multiple="true"></altai-language-bar>

<form class="altai-form">

    <div class="altai-admin-section">
        <div>
            <div class="subheader">
                <h3>{{'filter MLT Criterium'|translate}}</h3>
            </div>

            <div class="altai-simple-form">

                <div class="form-group">
                    <label>{{'Boost'|translate}}</label>
                    <input ng-model="$ctrl.newCriterium.Boost" type="number" placeholder="{{'Boost'|translate}}" />
                </div>

                <div class="form-group">
                    <label>{{'filter'|translate}}</label>
                    <input type="checkbox" ng-model="$ctrl.newCriterium.Filter" />
                </div>                

                <div class="form-group" ng-if="!$ctrl.newCriterium.Filter">
                    <label>{{'Maximum Query Terms'|translate}}</label>
                    <input ng-model="$ctrl.newCriterium.MaxQueryTerms" type="number" placeholder="{{'Maximum Query Terms'|translate}}" />
                </div>

                <div class="form-group" ng-if="!$ctrl.newCriterium.Filter">
                    <label>{{'Minimum Term Frequency'|translate}}</label>
                    <input ng-model="$ctrl.newCriterium.MinTermFreq" type="number" placeholder="{{'Minimum Term Frequency'|translate}}" />
                </div>

                <!--<div class="form-group"  ng-repeat="relation in $ctrl.relation track by $index">
                    <label>{{ $index == 0 ? ('path'|translate) : ''}}</label>
                    <select ng-model="$ctrl.relation[$index]" ng-options="item as item.name for item in $ctrl.relations | filter: {contentTypeRelationLinks: {contentTypeId: $index == 0 ? $ctrl.filter.typeId : $ctrl.getTypeId($index-1)}}">
                        <option value="">None</option>
                    </select>
                </div>
                <button class="altai-admin-icon main" ng-click="$ctrl.relation[$ctrl.relation.length] = {}"><i class="mdi mdi-plus"></i></button>
                <div class="form-group">
                    <label>{{'field'|translate}}</label>
                    <select ng-model="$ctrl.field" ng-options="c as c.attribute.label for c in $ctrl.contentTypeAttributes | filter: {contentTypeId: $ctrl.relation.length == 0 ? $ctrl.filter.typeId : $ctrl.getTypeId($ctrl.relation.length - 1)}"></select>
                </div>
                

                <div class="form-group">
                    <label>{{'field'|translate}}</label>
                    <input type="text" ng-model="$ctrl.resultField" disabled />
                </div>-->

                <altai-tree-selector tree="$ctrl.filter.typeId" depth="[]" add-attribute="" includes="$ctrl.includes" first-Level="$ctrl.firstLevel"></altai-tree-selector>
            </div>
        </div>


        <div class="form-buttons mainbuttonrow" ng-if="$ctrl.includes.length && ($ctrl.newCriterium.Filter || ($ctrl.newCriterium.MinTermFreq != undefined && $ctrl.newCriterium.MaxQueryTerms != undefined))">
            <button type="button" class="altai-admin-icon main" ng-click="$ctrl.createNewCriterium()"><i class="mdi mdi-content-save"></i></button>
        </div>
    </div>
</form>