<form class="altai-form">

    <div class="altai-admin-section">
        <div>
            <div class="subheader">
                <h3>{{'range'|translate}}</h3>
            </div>

            <div class="altai-simple-form">
                <div class="form-group">
                    <label>{{'type'|translate}}</label>
                    <select ng-model="$ctrl.exposedContentCollectionRange.type" ng-options="item.value as item.label for item in  $ctrl.rangeTypes"></select>
                </div>
                <div class="form-group" ng-if="$ctrl.exposedContentCollectionRange.type == 'date'">
                    <label>{{'Fixed'|translate}}</label>
                    <input type="checkbox" ng-model="$ctrl.exposedContentCollectionRange.fixed">
                </div>
                <div class="form-group" ng-if="$ctrl.exposedContentCollectionRange.type == 'date'">
                    <label>{{'field'|translate}}</label>
                    <input type="text" ng-model="$ctrl.exposedContentCollectionRange.field" />
                </div>

                <div class="form-group" ng-if="$ctrl.exposedContentCollectionRange.type == 'date'">
                    <label>{{'from'|translate}}</label>
                    <input type="text" ng-model="$ctrl.exposedContentCollectionRange.startValue" />
                </div>

                <div class="form-group" ng-if="$ctrl.exposedContentCollectionRange.type == 'date'">
                    <label>{{'to'|translate}}</label>
                    <input type="text" ng-model="$ctrl.exposedContentCollectionRange.endValue" /> <!-- | filter: {contentTypeId:$ctrl.type.id} -->
                </div>                
        </div>


        <div class="form-buttons mainbuttonrow" ng-if="$ctrl.exposedContentCollectionRange.type == 'date'">
            <button type="button" class="altai-admin-icon main" ng-click="$ctrl.updateRange($ctrl.exposedContentCollectionRange)"><i class="mdi mdi-content-save"></i></button>
        </div>
    </div>
</form>