<div print-section class="root theme--square altai-theme-content actu dossier container-content" data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)">

    <section altai-image-style-set-background imagestyleset="pageheader" image="vm.item.fileceoactu2.file" class="comeos-cover cover-large comeos-bg-green" ng-class="{'highcover':vm.item.fileceoactu2}">
        <div ng-if="vm.item.fileceoactu2.file" class="altai-overlay"></div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="title">{{vm.item.title}}</div>
                <div class="contact-buttons">
                    <div class="contact-buttons">
                        <comeos-content-item-like-header-component class="like" ng-if="vm.item != undefined" content-item="vm.item"></comeos-content-item-like-header-component>
                        <socialshareheader ng-if="vm.item != undefined" item="vm.item"></socialshareheader>
                    </div>
                </div>
            </div>
        </div>

        <div class="comeos-button comeos-button-cover comeos-button-white" comeos-questions-contact-us itemname="vm.item.name">
            <span translate>questionscontactus</span>
        </div>

    </section>

    <div  class="main-container container">

        <section class="blog-post">
            <div class="pagecontentstart">

                <div class="row introrow smartphone">
                    <div class="col-sm-4 col-sm-offset-1">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dossier-contact-section">
                                    <div class="profile-picture profile-picture-circle"><img ng-src="{{::$root.staticFileBase}}/{{vm.item.persoonceoactu.persoon_file.file}}" /></div>
                                    <div><span class="h6">{{vm.item.persoonceoactu.voornaam}} {{vm.item.persoonceoactu.achternaam}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="two-col-introduction cktext article-body" altai-compile-html="{{vm.item.publicintroduction}}">
                        </div>
                    </div>
                </div>
                <div class="row introrow screen">
                    <div class="col-sm-6 col-sm-offset-1">
                        <div class="two-col-introduction cktext article-body" altai-compile-html="{{vm.item.publicintroduction}}">
                        </div>
                    </div>
                    <div class="col-sm-4">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="dossier-contact-section">
                                    <div class="profile-picture profile-picture-circle"><img ng-src="{{::$root.staticFileBase}}/{{vm.item.persoonceoactu.persoon_file.file}}" /></div>
                                    <div><span class="h6">{{vm.item.persoonceoactu.voornaam}} {{vm.item.persoonceoactu.achternaam}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="vm.item.themeceoactu.length || vm.item.sectorceoactu.length || vm.item.regionceoactu.length || vm.item.pcceoactu.length">

                    <div class="col-sm-12">

                        <div class="dossier-tags">
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" theme="{{::tag.id}}" ng-repeat="tag in vm.item.themeceoactu">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in vm.item.sectorceoactu">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in vm.item.regionceoactu">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in vm.item.pcceoactu">
                                {{tag.title}}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 ">
                        <div class="cktext article-body" altai-compile-html="{{vm.item.content}}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 ">
                        <div ng-if="vm.activeLang.code=='fr'" class="dossier-section" ng-show="vm.item.fileceoactu.length > 0">
                            <h5 translate>attachments</h5>
                            <div class="attached-file" ng-repeat="doc in vm.item.fileceoactu">
                                <a ng-href="{{::$root.staticFileBase}}/{{doc.file}}" target="_blank"><fileicon doctype="doc.fileextension"></fileicon> <span>{{doc.label}}</span></a>
                            </div>
                        </div>
                        <div ng-if="vm.activeLang.code=='nl'" class="dossier-section" ng-show="vm.item.fileceoactu1.length > 0">
                            <h5 translate>attachments</h5>
                            <div class="attached-file" ng-repeat="doc in vm.item.fileceoactu1">
                                <a ng-href="{{::$root.staticFileBase}}/{{doc.file}}" target="_blank"><fileicon doctype="doc.fileextension"></fileicon> <span>{{doc.label}}</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 ">
                        <div class="actu-section" ng-show="vm.item.linkceoactu.length > 0">
                            <h5 translate>relatedlinks</h5>
                            <div class="attached-link" ng-repeat="link in vm.item.linkceoactu">
                                <a ng-if="link.linktarget!=undefined" ng-href="{{link.linkurl}}" target="{{link.linktarget}}"><span class="attached-link-icon"><i class="mdi mdi-link"></i></span><span>{{link.linktekst}}</span></a>
                                <a ng-if="link.linktarget==undefined" ng-href="{{link.linkurl}}" target="_blank"><span class="attached-link-icon"><i class="mdi mdi-link"></i></span><span>{{link.linktekst}}</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1  comeos-buttons">
                        <a class="comeos-button" print-btn print-hide translate>
                            print
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>