<div class="root theme--square altai-theme-content actu dossier event container-content">
    <div altai-set-title titletext="{{vm.item.title}}"></div>
    <section class="comeos-cover cover-large comeos-bg-green" altai-image-style-set-background imagestyleset="pageheader" image="vm.item.fileceoevent.file" ng-class="{'highcover':vm.item.fileceoevent.file}">
        <div ng-if="vm.item.fileceoevent.file" class="altai-overlay"></div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="title">{{vm.item.title}}</div>
                <div class="subtitle">{{vm.item.date | localDate}} <span ng-if="vm.item.locatieceoevent.stad">- {{vm.item.locatieceoevent.stad}}</span></div>
                <div class="contact-buttons">

                    <div class="contact-buttons">
                        <comeos-content-item-like-header-component class="like" ng-if="vm.item != undefined" content-item="vm.item"></comeos-content-item-like-header-component>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div class="main-container container">

        <section class="blog-post">
            <div class="pagecontentstart">
                <div class="row dossier-section">
                    <div class="col-md-12">
                        <div class="comeos-button-row">
                            <a class="comeos-button no-animate"><span translate>enroll</span></a>
                        </div>
                    </div>
                </div>

                <div class="row dossier-section">

                    <div class="col-md-6 col-xs-12 left-col">
                        <div class="left-col">
                            <section ng-if="vm.item.intro">
                                <div class="cktext article-body" altai-compile-html="{{vm.item.intro}}">
                                </div>
                            </section>

                            <section class="event-programma" ng-if="vm.item.programmaitemceoevent.length>0">
                                <h2 translate>programma</h2>
                                <table>
                                    <tr class="programma-item" ng-repeat="item in vm.item.programmaitemceoevent">
                                        <td class="time"><i class="mdi mdi-clock"></i> {{item.tijdvan| date:'HH:mm'}}</td>
                                        <td class="description" altai-compile-html="{{item.inhoud}}"></td>
                                    </tr>
                                </table>
                            </section>

                            <section ng-if="vm.item.doelpubliek">
                                <h2 translate>doelpubliek</h2>
                                <div class="cktext article-body" altai-compile-html="{{vm.item.doelpubliek}}">
                                </div>
                            </section>

                            <section ng-if="vm.item.prijs">
                                <h2 translate>deelname</h2>
                                <div class="cktext article-body" altai-compile-html="{{vm.item.prijs}}"></div>
                            </section>

                            <section ng-if="vm.item.taal">
                                <h2 translate>taal</h2>
                                <div class="cktext article-body" altai-compile-html="{{vm.item.taal}}"></div>
                            </section>
                            <section ng-if="vm.item.fileceoevent2" class="event-fotos">
                                <h2 translate>gallery</h2>
                                <altaigallery imagefiles="vm.item.filenetworkingevent2"></altaigallery>
                            </section>
                        </div>
                    </div>

                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                        <div class="right-col">
                            <section class="event-details-tijdstip" ng-if="vm.item.persoonceoevent">
                                <div class="dossier-contact-section">
                                    <div class="profile-picture profile-picture-circle"><img ng-src="{{::$root.staticFileBase}}/{{vm.item.persoonceoevent.persoon_file.file}}" /></div>
                                    <div><span class="h6">{{vm.item.persoonceoevent.voornaam}} {{vm.item.persoonceoevent.achternaam}}</span></div>

                                </div>
                            </section>

                            <section class="event-details-tijdstip" ng-if="vm.item.date">
                                <h5 translate>{{'tijdstip'|translate}}</h5>
                                <div><i class="fa fa-calendar"></i>&nbsp;{{vm.item.date | localDate}} ({{vm.item.tijdvan | date:'HH:mm'}}<span ng-if="vm.item.tijdtot"> - {{vm.item.tijdtot | date:'HH:mm'}}</span>)</div>
                            </section>

                            <section class="languageselection" ng-if="vm.item.taalceoevent.length > 0">
                                <h5 translate>{{'talen'|translate}}</h5>
                                <span class="attached-file" ng-repeat="taal in vm.item.taalceoevent track by $index">
                                    {{taal.title}}<span ng-if="!$last">, </span>
                                </span>
                            </section>

                            <section class="languageselection" ng-if="vm.item.languageusedceoevent.length > 0">
                                <h5 translate>{{'talen'|translate}}</h5>
                                <div class="languagespec" ng-repeat="taalspec in vm.item.languageusedceoevent track by $index">
                                    <div class="languagetitle">{{taalspec.languagespecifierlanguageused.title}}</div>
                                    <div><span ng-repeat="taal in taalspec.taallanguageused track by $index">{{taal.title}}<span ng-if="!$last">, </span></span></div>
                                </div>
                            </section>

                            <section class="event-details-location" ng-if="vm.item.locatieceoevent">
                                <h5 translate>locatie</h5>

                                <div class="naam"><a ui-sref="Root.Detail.Location({id:vm.item.eventLocatie[0].id})">{{vm.item.locatieceoevent.title}}</a> <span class="zaal" ng-if="vm.item.zaalnceoevent">- <span translate>zaal</span> {{vm.item.zaalceoevent.title}}</span></div>

                                <div class="contactdetails">
                                    <p><span altai-compile-html="{{vm.item.locatieceoevent.contact}}"></span></p>
                                </div>
                                <div class="gmap"><span altai-compile-html="{{vm.item.locatieceoevent.googlemapsembedlink}}"></span></div>
                            </section>

                            <section class="event-details-links">
                                <div ng-show="vm.item.linkceoevent.length > 0">
                                    <h5 translate>relatedlinks</h5>
                                    <div class="attached-link" ng-repeat="link in vm.item.linkceoevent">
                                        <a ng-if="link.linktarget!=undefined" ng-href="{{link.linkurl}}" target="{{link.linktarget}}"><span class="attached-link-icon"><i class="mdi mdi-link"></i></span><span>{{link.linktekst}}</span></a>
                                        <a ng-if="link.linktarget==undefined" ng-href="{{link.linkurl}}" target="_blank"><span class="attached-link-icon"><i class="mdi mdi-link"></i></span><span>{{link.linktekst}}</span></a>
                                    </div>
                                </div>
                            </section>

                            <section class="event-details-sponsors">
                                <div ng-show="vm.item.sponsororganizationceoevent.length > 0">
                                    <h5 translate>sponsoredby</h5>
                                    <div class="text-center">
                                        <span class="sponsorimage" ng-repeat="sponsor in vm.item.sponsororganizationceoevent">
                                            <a class="justclickable" target="_blank" href="{{sponsor.linksponsororganization[0].linkurl}}"><img ng-src="{{::$root.staticFileBase}}/{{sponsor.filesponsororganization.file}}" /></a>
                                        </span>
                                    </div>

                                </div>
                            </section>

                            <section class="event-details-partners">
                                <div ng-show="vm.item.sponsororganizationceoevent1.length > 0">
                                    <h5 translate>incollaborationwithourpartners</h5>
                                    <div class="text-center">
                                        <span class="sponsorimage" ng-repeat="partner in vm.item.sponsororganizationceoevent1">
                                            <a class="justclickable" target="_blank" href="{{partner.linksponsororganization[0].linkurl}}"><img ng-src="{{::$root.staticFileBase}}/{{partner.filesponsororganization.file}}" /></a>
                                        </span>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>

                </div>


            </div>
        </section>
    </div>
</div>