<div print-section class="root theme--square altai-theme-content actu dossier container-content">
    <section class="comeos-cover cover-large comeos-bg-magazine">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="title">{{vm.item.title}}</div>
                <div class="contact-buttons">
                    <!--<div class="mail"><i class="mdi mdi-heart"></i></div>-->

                    <div class="contact-buttons">
                        <comeos-content-item-like-header-component class="like" ng-if="vm.item != undefined" content-item="vm.item"></comeos-content-item-like-header-component>
                        <socialshareheader ng-if="vm.item != undefined" item="vm.item"></socialshareheader>
                    </div>
                </div>
            </div>
        </div>
        <div class="comeos-button comeos-button-cover comeos-button-white" comeos-questions-contact-us itemname="vm.item.name">
            <span translate>questionscontactus</span>
        </div>
    </section>
    <div  class="main-container container">

        <section class="blog-post">
            <div class="pagecontentstart">
                <!--<div class="row text-center">
                    <div class="col-sm-10 col-sm-offset-1 ">
                        <div class="breadcrumbs">
                            <a ui-sref="Root.Content.Library" translate>bibliotheek</a> > <a><span translate>comeos</span> <span translate>magazine</span> {{vm.item.title}}</a>
                        </div>
                    </div>
                </div>-->

                <div class="row text-center" ng-if="vm.item.thememagazineartikel.length || vm.item.sectormagazineartikel.length || vm.item.regionmagazineartikel.length || vm.item.pcmagazineartikel.length">

                    <div class="col-sm-10 col-sm-offset-1 ">

                        <div class="dossier-tags">
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" theme="{{::tag.id}}" ng-repeat="tag in vm.item.thememagazineartikel">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in vm.item.sectormagazineartikel">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in vm.item.regionmagazineartikel">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in vm.item.pcmagazineartikel">
                                {{tag.title}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row dossier-section publicationcoverimagerow mobile">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="publicationcoverimagecontainer">
                            <a ng-href="{{::$root.staticFileBase}}/{{vm.item.filemagazine1.file}}" target="_blank"><img class="publicationcoverimage" ng-src="{{::$root.staticFileBase}}/{{vm.item.filemagazine2.file}}" ng-if="vm.activeLang.code=='fr'" /></a>
                            <a ng-href="{{::$root.staticFileBase}}/{{vm.item.filemagazine.file}}" target="_blank"><img class="publicationcoverimage" ng-src="{{::$root.staticFileBase}}/{{vm.item.filemagazine3.file}}" ng-if="vm.activeLang.code=='nl'" /></a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="cktext article-introduction" altai-compile-html="{{vm.item.shortintroduction}}">
                        </div>
                        <div class="cktext" altai-compile-html="{{vm.item.membersintroduction}}">
                        </div>
                    </div>
                </div>

                <div class="row dossier-section publicationcoverimagerow desktop">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="publicationcoverimagecontainer">
                            <a ng-href="{{::$root.staticFileBase}}/{{vm.item.filemagazine1.file}}" target="_blank"><img class="publicationcoverimage" ng-src="{{::$root.staticFileBase}}/{{vm.item.filemagazine2.file}}" ng-if="vm.activeLang.code=='fr'" /></a>
                            <a ng-href="{{::$root.staticFileBase}}/{{vm.item.filemagazine.file}}" target="_blank"><img class="publicationcoverimage" ng-src="{{::$root.staticFileBase}}/{{vm.item.filemagazine3.file}}" ng-if="vm.activeLang.code=='nl'" /></a>
                        </div>
                        <div class="cktext article-introduction" altai-compile-html="{{vm.item.shortintroduction}}">
                        </div>
                        <div class="cktext" altai-compile-html="{{vm.item.membersintroduction}}">
                        </div>
                    </div>
                </div>
                <div class="row dossier-section>
                    <div class="col-sm-10 col-sm-offset-1">
                        <h1 class="text-center" translate>magazine</h1>
                        <comeos-masonry items="vm.item.magazineartikelmagazine"></comeos-masonry>
                    </div>
                </div>
                <div class="row dossier-section">
                    <div class="col-sm-10 col-sm-offset-1  comeos-buttons">
                        <a class="comeos-button" print-btn translate>
                            print
                        </a>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>