<div print-section class="root theme--square altai-theme-content dossier container-content">

    <section class="comeos-cover cover-large comeos-bg-pcinfo">
        <div ng-if="vm.item.filepcinfo.file" class="altai-overlay"></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">

                <div class="title">{{vm.item.title}}</div>
                <div class="contact-buttons">

                    <div class="contact-buttons">
                        <comeos-content-item-like-header-component class="like" ng-if="vm.item != undefined" content-item="vm.item"></comeos-content-item-like-header-component>
                        <socialshareheader ng-if="vm.item != undefined" item="vm.item"></socialshareheader>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-post container">
        <div class="pagecontentstart">
            <div class="row introrow smartphone">
                <div class="col-sm-4 col-sm-offset-1">


                    <div class="dossier-contact-section">
                        <div class="profile-picture profile-picture-circle"><img ng-src="{{::$root.staticFileBase}}/{{vm.item.persoonpcinfo.persoon_file.file}}" /></div>
                        <div><span class="h6">{{vm.item.persoonpcinfo.voornaam}} {{vm.item.persoonpcinfo.achternaam}}</span></div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="two-col-introduction" altai-compile-html="{{vm.item.membersintroduction}}">
                    </div>
                </div>
            </div>
            <div class="row introrow screen">
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="two-col-introduction" altai-compile-html="{{vm.item.membersintroduction}}">
                    </div>
                </div>
                <div class="col-sm-4">


                    <div class="dossier-contact-section">
                        <div class="profile-picture profile-picture-circle"><img ng-src="{{::$root.staticFileBase}}/{{vm.item.persoonpcinfo.persoon_file.file}}" /></div>
                        <div><span class="h6">{{vm.item.persoonpcinfo.voornaam}} {{vm.item.persoonpcinfo.achternaam}}</span></div>
                    </div>
                </div>
            </div>

            <div class="row text-center" ng-if="vm.item.pcpcinfo">
                <div class="col-sm-12">
                    <div class="dossier-tags">
                        <span class="dossier-tags-chip" getlink content-item-id="{{vm.item.pcpcinfo.isroot !== false ? vm.item.pcpcinfo.id : vm.item.pcpcinfo.id}}" content-type-id="{{::vm.item.pcpcinfo.contentTypeId}}">
                            {{vm.item.pcpcinfo.title}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="vm.item.subsectionpcinfo">
                <div class="col-md-10 col-md-offset-1">
                    <div class="dossier-section">
                        <collapser class="dossier-vragen" activelang="vm.activeLang" collapsermodel="vm.item.subsectionpcinfo" answer="1">
                        </collapser>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 ">
                    <div ng-if="vm.activeLang.code=='fr'" class="dossier-section" ng-show="vm.item.filepcinfo.length > 0">
                        <h5 translate>attachments</h5>
                        <div class="attached-file" ng-repeat="doc in vm.item.filepcinfo">
                            <a ng-href="{{::$root.staticFileBase}}/{{doc.file}}" target="_blank"><fileicon doctype="doc.fileextension"></fileicon> <span>{{doc.label}}</span></a>
                        </div>
                    </div>
                    <div ng-if="vm.activeLang.code=='nl'" class="dossier-section" ng-show="vm.item.filepcinfo2.length > 0">
                        <h5 translate>attachments</h5>
                        <div class="attached-file" ng-repeat="doc in vm.item.filepcinfo2">
                            <a ng-href="{{::$root.staticFileBase}}/{{doc.file}}" target="_blank"><fileicon doctype="doc.fileextension"></fileicon> <span>{{doc.label}}</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1 ">
                    <div class="actu-section" ng-show="vm.item.linkpcinfo.length > 0">
                        <h5 translate>relatedlinks</h5>
                        <div class="attached-link" ng-repeat="link in vm.item.linkpcinfo">
                            <a ng-if="link.linktarget!=undefined" ng-href="{{link.linkurl}}" target="{{link.linktarget}}"><span class="attached-link-icon"><i class="mdi mdi-link"></i></span><span>{{link.linktekst}}</span></a>
                            <a ng-if="link.linktarget==undefined" ng-href="{{link.linkurl}}" target="_blank"><span class="attached-link-icon"><i class="mdi mdi-link"></i></span><span>{{link.linktekst}}</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1  comeos-buttons">
                    <div class="comeos-button" comeos-questions-contact-us itemname="vm.item.name">
                        <span translate>questionscontactus</span>
                    </div>
                </div>
            </div>
            <div class="row comeos-bg-grey">
                <div class="col-md-10 col-md-offset-1 ">
                    <a class="comeos-button" print-btn translate>
                        print
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>