<div print-section class="root theme--square altai-theme-content actu dossier container-content">
    <div altai-set-title titletext="{{vm.item.title}}"></div>
    <section class="comeos-cover cover-large comeos-bg-research">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <div class="title">{{vm.item.title}}</div>
                <div class="contact-buttons">
                    <!--<div class="mail"><i class="mdi mdi-heart"></i></div>-->

                    <div class="contact-buttons">
                        <comeos-content-item-like-header-component class="like" ng-if="vm.item != undefined" content-item="vm.item"></comeos-content-item-like-header-component>
                        <socialshareheader ng-if="vm.item != undefined" item="vm.item"></socialshareheader>
                    </div>
                </div>
            </div>
        </div>
        <div class="comeos-button comeos-button-cover comeos-button-white" comeos-questions-contact-us itemname="vm.item.name">
            <span translate>questionscontactus</span>
        </div>
    </section>
    <div  class="main-container container">

        <section class="blog-post">
            <div class="pagecontentstart">
                <!--<div class="row text-center">
                    <div class="col-sm-10 col-sm-offset-1 ">
                        <div class="breadcrumbs">
                            <a ui-sref="Root.Content.Library" translate>bibliotheek</a> > <a><span translate>comeos</span> <span translate>research</span> {{vm.item.title}}</a>
                        </div>
                    </div>
                </div>-->

                <div class="row text-center" ng-if="vm.item.themeresearch.length || vm.item.sectorresearch.length || vm.item.regionresearch.length || vm.item.pcresearch.length">

                    <div class="col-sm-10 col-sm-offset-1 ">

                        <div class="dossier-tags">
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" theme="{{::tag.id}}" ng-repeat="tag in vm.item.themeresearch">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in vm.item.sectorresearch">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in vm.item.regionresearch">
                                {{tag.title}}
                            </span>
                            <span class="dossier-tags-chip" getlink content-item-id="{{tag.isroot !== false ? tag.id : tag[tag.contentType + '_' + tag.contentType].id}}" content-type-id="{{::tag.contentTypeId}}" ng-repeat="tag in vm.item.pcresearch">
                                {{tag.title}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row dossier-section publicationcoverimagerow mobile">
                    <div class="col-sm-6">
                        <div class="publicationcoverimagecontainer">
                            <a ng-href="{{::$root.staticFileBase}}/{{vm.item.filemagazine2.file}}" target="_blank" ng-if="vm.activeLang.code=='fr'"><img class="publicationcoverimage" ng-src="{{::$root.staticFileBase}}/{{vm.item.filemagazine4.file}}" /></a>
                            <a ng-href="{{::$root.staticFileBase}}/{{vm.item.filemagazine.file}}" target="_blank" ng-if="vm.activeLang.code=='nl'"><img class="publicationcoverimage" ng-src="{{::$root.staticFileBase}}/{{vm.item.filemagazine5.file}}" /></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="cktext article-introduction" altai-compile-html="{{vm.item.shortintroduction}}">
                        </div>
                        <div class="cktext" altai-compile-html="{{vm.item.membersintroduction}}">
                        </div>
                    </div>
                </div>

                <div class="row dossier-section publicationcoverimagerow desktop">
                    <div class="col-sm-12">
                        <div class="publicationcoverimagecontainer">
                            <a ng-if="vm.item.fileresearch2.file && vm.activeLang.code=='fr'" ng-href="{{::$root.staticFileBase}}/{{vm.item.fileresearch2.file}}" target="_blank"><img class="publicationcoverimage" ng-src="{{::$root.staticFileBase}}/{{vm.item.fileresearch4.file}}" /></a>

                            <a ng-if="vm.item.fileresearch.file &&vm.activeLang.code=='nl'" ng-href="{{::$root.staticFileBase}}/{{vm.item.fileresearch.file}}" target="_blank"><img class="publicationcoverimage" ng-src="{{::$root.staticFileBase}}/{{vm.item.fileresearch3.file}}" /></a>

                            <a ng-if="!vm.item.fileresearch4.file && vm.activeLang.code=='fr'" ng-href="{{::$root.staticFileBase}}/{{vm.item.fileresearch2.file}}" target="_blank">
                                <div class="noimg publicationcoverimage">{{'Download'|translate}}</div>
                            </a>
                            <a ng-if="!vm.item.fileresearch3.file && vm.activeLang.code=='nl'" ng-href="{{::$root.staticFileBase}}/{{vm.item.fileresearch.file}}" target="_blank">
                                <div class="noimg publicationcoverimage">{{'Download'|translate}}</div>
                            </a>
                        </div>

                        <div class="cktext article-introduction" altai-compile-html="{{vm.item.shortintroduction}}">
                        </div>
                        <div class="cktext" altai-compile-html="{{vm.item.membersintroduction}}">
                        </div>
                    </div>
                </div>

                <div class="row dossier-section">
                    <div class="col-sm-10 col-sm-offset-1  comeos-buttons">
                        <a class="comeos-button" print-btn translate>
                            print
                        </a>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="blog-post__share">
                            <link-share class="btn btn--sm bg--twitter"></link-share>
                            <altai-social-share class="btn btn--sm bg--twitter" provider="twitter" item="vm.item"></altai-social-share>
                            <altai-social-share class="btn btn--sm bg--twitter" provider="linkedin" item="vm.item"></altai-social-share>
                        </div>
                    </div>
                </div>-->

            </div>
        </section>
    </div>
</div>