<altai-toolbar-menu menu-model="$ctrl.toolbar" languages="$ctrl.languages"></altai-toolbar-menu>

<form class="altai-form">

    <div class="form-group">
        <label>{{'email'|translate}}:</label>
        <input type="text" ng-model="$ctrl.user.email" />
    </div>

    <div class="form-group">
        <label>{{'password'|translate}}:</label>
        <input type="text" ng-model="$ctrl.user.password" />
    </div>

    <div class="form-group">
        <label>{{'firstname'|translate}}:</label>
        <input type="text" ng-model="$ctrl.user.firstname" />
    </div>

    <div class="form-group">
        <label>{{'lastname'|translate}}:</label>
        <input type="text" ng-model="$ctrl.user.lastname" />
    </div>

</form>